<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ ^$1 [N]

    RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
    RewriteRule ^(.*)$ public/$1 

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ server.php
    
    
    
    
    
    
    
    
    
    
    # Redirect To Mobile Site
    
    
   
   
   
# https://www.addontechnologies.net/knowledge-base/redirect-to-mobile-site-using-htaccess-file-redirect-rules-of-htaccess-files-for-mobile-device.html
# https://linchpinseo.com/htaccess-rules/










# turn on rewrite engine
#RewriteEngine on

# only detect smart phone devices if we are not on mobile site
# to prevent redirect looping
#RewriteCond %{HTTP_HOST} !^app.plyton.in$ 

# a bunch of smart phone devices
#RewriteCond %{HTTP_USER_AGENT} "android|blackberry|iphone|ipod"[NC,OR]
#RewriteCond %{HTTP_USER_AGENT} "iemobile|opera mobile|palmos|webos"[NC,OR]

# redirect google mobile bot
#RewriteCond %{HTTP_USER_AGENT} "googlebot-mobile"[NC]

# if the request is from any one of the above devices
# redirect to mobile site
#RewriteRule .? https://app.plyton.in/$1 [r=301,nc]




    
    
    
    
    
</IfModule>